body {
    background-image: url(bg1.png);
    background-position: 2px;
    background-repeat: repeat=x;
    background-size: 2%;
}
text {
    font-family: 'Times New Roman', Times, serif;

}
h1 {
    text-align: center;
    text-size-adjust: 2%;
}